anytree==2.8.0
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2023.7.22
chardet==3.0.4
colorlover==0.3.0
cycler==0.10.0
gunicorn==20.0.4
idna==2.9
kiwisolver==1.2.0
lxml==4.9.1
matplotlib==3.2.1
numpy==1.22.0
pandas==1.0.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scipy==1.4.1
selenium==3.141.0
six==1.14.0
soupsieve==2.0
urllib3==1.26.5
dash==1.11.0